
@{
    ViewData["Title"] = "Order Canceled";
    int ID = ViewBag.RemovedOrderID;
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h4> Your order, ID: @ID, has been canceled. </h4>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12 text-center">
            <a asp-controller="Orders" asp-action="Index" class="btn btn-primary d-inline-block"> View Orders </a>
            <a asp-controller="Home" asp-action="Index" class="btn btn-secondary d-inline-block"> Go Home </a>
        </div>
    </div>
</div>

