@{
    PubUserDetailsViewModel UserDetails = ViewBag.UserDetails;
}

@if (UserDetails != null)
{
    <li class="navbar-text text-dark text-capitalize"> Welcome, @UserDetails.UserFirstName @UserDetails.UserLastName </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown"> Your Account </a>
        <div class="dropdown-menu">
            @if (UserDetails.UserAccessRank == UserAccessRank.Admin)
            {
                <a class="dropdown-item" asp-controller="Orders" asp-action="Index" asp-route-UserID="@UserDetails.UserId">Your Orders</a>
                <a class="dropdown-item" asp-controller="Orders" asp-action="Index">View All Orders</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" asp-controller="Items" asp-action="Create">Create New Item</a>
            }
            else
            {
                <a class="dropdown-item" asp-controller="Orders" asp-action="Index">Your Orders</a>
            }
            <div class="dropdown-divider"></div>
            <form method="post" asp-action="logout" asp-controller="account">
                <button type="submit" class="dropdown-item btn btn-secondary"> Logout </button>
            </form>
        </div>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
    </li>
}