@model PubItems
@{
    ViewData["Title"] = Model.ItemName + " Details";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <label class="display-1"> Item: @Model.ItemName </label>
        </div>
    </div>
</div>

