
@{
    ViewData["Title"] = "RegistrationSuccess";
}

<h1 class= "text-primary">Registration Successful! - Your user account ID is: @ViewBag.UserID </h1>
<h3 class = "text-info"> You will need your User ID to login to your account in the future.</h3>


